.menu-list{
    display: flex;
}
.menu-list .logo{
    margin-right: 50px;
}
.menu-list li{
    margin: 12px;
    list-style-type: none;
    font-size: 30px;
    font-weight: 300;
}
.menu-list a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.heading{
    font-size: 40px;
    color: orange;
    text-align: center;
    margin-top: 90px;
}

div {
    max-width: 400px;
    margin: 0 auto;
}
.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #45a049;
}
br {
    margin-bottom: 10px;
}