body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0;
    color: #ff5252; /* Red color */
}

p {
    font-size: 1.5em;
    margin-top: 0;
}

.emoji {
    font-size: 2em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #4285f4; /* Google Blue */
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}